@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border border-border;
  }
  html {
    @apply scroll-smooth scrollbar scrollbar-track-background scrollbar-thumb-primary scrollbar-thumb-rounded-lg scrollbar-w-2 md:snap-y md:snap-mandatory;
    /* @apply scroll-smooth scrollbar scrollbar-track-background scrollbar-thumb-primary scrollbar-thumb-rounded-lg scrollbar-w-2; */
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  :root {
    --background: 214 100% 97%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 239 34% 79%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 237 47% 73%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 244.2 47% 20%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 239.34 53.95% 59.38%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 18 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 240 53% 57%;
    --ring: 224.3 76.3% 48%;
  }
}

.svg-top {
  mask: url("/svg/topScroll.svg") center center / contain no-repeat;
}

.swiper-button-prev,
.swiper-button-next {
  @apply !text-blue-600 dark:!text-yellow-600;
}

.swiper-pagination-bullet {
  @apply !bg-blue-600 dark:!bg-yellow-600;
}
